* {
  font-family: inherit;
  scroll-behavior: smooth;
}
.nav-link:hover {
  color: #ff4545 !important;
}
.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 999;
}
.headline {
  background-color: #ff4545;
}
.mobile-menu ul li {
  padding: 15px;
}

.show-menu {
  display: block !important;
  animation: slideDown 0.3s ease;
}
.mynav {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(242, 41, 91, 0.5), rgba(242, 41, 91, 0.5)),
    url("https://gbackpack.oceanwp.org/wp-content/uploads/2021/07/img67103.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-content {
  height: 100vh;
}

.btn-outline {
  background-color: #ff4545;
  color: white;
  border: #ff4545;
  padding: 10px;
  outline: none;
  border-radius: 15px;
}
.btn-outline:hover {
  transition: 0.5s ease-in-out;
  color: black;
  background-color: transparent;
  border: 1px solid #ff4545;
}
/* second */
.icon-side {
  height: 80vh;
}
.icon-side i {
  color: #ff4545;
}
/* increase */
.increase {
  height: 30vh;
  display: flex;
  align-items: center;
}
.orange {
  color: orange;
}

.img-content {
  position: relative;
  overflow: hidden;
}

.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
}

/* HOVER EFFECT */
.img-content:hover .cart-icon {
  opacity: 1;
  visibility: visible;
  background: white;
  border: 2px solid;
  color: black;
  transform: translateY(-5px);
}
.register-page {
  min-height: 80vh;
  padding: 20px;
}

.register-box {
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
}

.gender input {
  margin-right: 5px;
}

/* footer */
.footer {
  padding: 25px;
  background-color: #222;
  color: white;
}
.copy {
  background-color: #1b1b1b;
}

@media (max-width: 768px) {
  .main {
    height: auto;
    padding: 60px 0;
  }
  .mobile-menu {
    display: none !important;
  }

  #main-content {
    height: auto;
    padding: 20px;
  }

  .poster img {
    width: 100%;
  }
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
